section {
    background-color: #eae7dc;
    align-items: center;
    justify-content: center;
}

.title {
    color: #8e8d8a;
    font-weight: 500;
    margin: 0;
    font-size: xx-large;
}
.skills {
    display: inline-flex;
}
.js {
    margin: 10px;
}

.react {
    margin: 10px;
}

.python {
    margin: 10px;
}

h2 {
    color: #8e8d8a;
    font-weight: 400;
    font-size: larger;
}

img {
    width: 50px;
    height: 50px;
}